@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@600;700&family=Sen:wght@400;700;800&display=swap");

.kulim-park{
  font-family: 'Kulim Park', sans-serif;
}

.sen{
  font-family: 'Sen', sans-serif;
}

.faded {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
.dark-mode {
  background-color: black;
  color: white;
}

.media {
  position:absolute; top:905px; left:10;
}

:root {
  --primary-color:white;    
}
[data-theme="dark"] {
  --primary-color:grey;    
}

.navbar {
    background-color: black;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
  
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar a:hover {
  color: orange;
  text-decoration: none;
  font-size: 1rem;
}
