@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@600;700&family=Sen:wght@400;700;800&display=swap");

.kulim-park{
  font-family: 'Kulim Park', sans-serif;
}

.sen{
  font-family: 'Sen', sans-serif;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
.dark-mode {
  background-color: black;
  color: white;
}

button {
  position:absolute; top:0; left:0;
}

:root {
  --primary-color:white;    
}
[data-theme="dark"] {
  --primary-color:grey;    
}